.nav{
    background: turquoise;
    /* color: aqua; */
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
}

.nav-right{
  text-align: right;
  
}